{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Opencast Semester Scheduler</title>
	<link rel="stylesheet" type="text/css" href="{% static 'view.css' %}" media="all">
	<script type="text/javascript" src="{% static 'view.js' %}"></script>

</head>

<body id="main_body">

	<img id="top" src="{% static 'top.png' %}" alt="">
	<div id="form_container">

		<h1><a>Opencast Semester Scheduler</a></h1>

<h2>{{ note }}</h2>

        <form enctype="multipart/form-data" action="{% url 'scheduler' %}" method="post">
            {% csrf_token %}
            <div class="form_description">
				<h2>Opencast Semester Scheduler</h2>
				<p>To use this tool you need:</p>
					<ul>
                       <li>- XML File with the lecturer name in UTF-8 format.</li>
                       <li>- The series ID for the Course from the Opencast System.</li> 
                    </ul> 
			</div>
            {% regroup SchedulerForm by field.group as field_groups %}
            {% for field_group in field_groups %}
                <li class="section_break">
                    <h3>{{ field_group.grouper }}</h3>
                    <p></p>
                </li>
                {% if field_group.grouper == 'Inputs' %}
                    {% for field in field_group.list %}
                        <li>
                            <label class="description" for="{{ field.auto_id }}">{{ field.label }}</label>
                            <div>
                                {{ field }}
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
                {% if field_group.grouper == 'Workflow Options' %}
                    <li>
                        <span>
                        {% for field in field_group.list %}
                            {{ field }}
                            <label class="choice" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {% endfor %}
                        </span>
                    </li>
                {% endif %}
                {% if field_group.grouper == 'Galicaster Options' %}
                    <li>
                        <span>
                        {% for field in field_group.list %}
                            {{ field }}
                            <label class="choice" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {% endfor %}
                        </span>
                    </li> 
                {% endif %}
                {% if field_group.grouper == 'Other Options' %}
                    <li>
                    {% for field in field_group.list %}
                        {% if field.label != 'Force capture Agent'%}
                            {{ field }}
                            <label class="choice" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {% endif %}
                        {% if field.label == 'Force capture Agent'%}
                            <label class="description" for="{{ field.auto_id }}">{{ field.label }}</label>
                            <div>
                                {{ field | add_class:"element select medium" }}
                            </div>
                        {% endif %}
                    {% endfor %}
                        </li> 
                {% endif %}
            {% endfor %}
            <p></p>
            <li class="buttons">
                <input type="submit" class="button_text" name="submit" value="Schedule series">
            </li>
            
        </form>
    </div>
	<img id="bottom" src="{% static 'bottom.png' %}" alt="">
</body>

</html>